*{
  color: whitesmoke;
  background: rgb(30, 30, 30);
  text-align: center;
}
body{
  color: whitesmoke;
  background: rgb(41, 41, 41);
}
image{
  width: 100v;
}
.giphy-embed{
  width: 100vw;
  height: 100vh;
}
#generate{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
